.app {
    background-color: var(--grey-color);
    // Common
    .grid__full-width {
        height: 100%;
        .grid__row {
            height: 100%;
        }
    }
    .yellow-color {
        color: var(--yellow-color);
    }
    .red-color {
        color: var(--red-color);
    }
    .green-color {
        color: var(--green-color);
    }
    .blue-color {
        color: var(--blue-color);
    }
    .yellow-bg-color {
        background-color: var(--yellow-color);
    }
    .red-bg-color {
        background-color: var(--red-color);
    }
    .green-bg-color {
        background-color: var(--green-color);
    }
    .blue-bg-color {
        background-color: var(--blue-color);
    }
    .light-blue-bg-color {
        background-color: var(--light-blue-color);
    }

    .header {
        background-color: var(--black-color);
        height: var(--header-height);
        .header__navbar {
            color: var(--white-color);
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.6rem;
            padding: 1.2rem 1.6rem 0;
            .header__logo {
                .header__logo-link {
                    display: flex;
                    align-items: center;
                    max-width: 120px;
                    .header__logo-name {
                        font-size: 1.4rem;
                    }
                }
            }
            .header__navbar-user {
                display: flex;
                align-items: center;
                .header__user-img {
                    margin-right: 2.4rem;
                    font-size: 2.0rem;
                }
                .header__user-controls {
                    margin-right: 2.4rem;
                    text-align: center;
                    .header__user {
                        padding: 0;
                        margin: 0 0 0.4rem 0;
                        .header__user-name {
                            color: var(--primary-color);
                        }
                    }
                    .header__user-signout {
                        cursor: pointer;
                    }
                }
            }
            .mobile-menu-btn {
                position: absolute;
                top: 0;
                right: 20px;
                font-size: 4rem;
                display: none;
                padding: 2rem;
                cursor: pointer;
            }
        }
    }
    .content {
        height: 100vh;
        .content__main {
            margin-top: 2rem;
        }
        .menu {
            background-color: var(--white-color);
            .menu__wrapper {
                display: flex;
                flex-direction: column;
                background-color: var(--white-color);
                margin: 0 -20px;
                .menu__item {
                    position: relative;
                    .menu__item-link {
                        display: block;
                        font-size: 2rem;
                        text-transform: uppercase;
                        line-height: 1.8rem;
                        padding: 3.2rem;
                        .menu__item-icon {
                            margin-right: 0.8rem;
                        }
                    }
                    .menu__item-link:hover {
                        opacity: 0.8;
                    }
                    .menu__item-link--active {
                        background-color: var(--grey-color);
                        font-weight: 700;
                    }
                }
                .menu__sub-item {
                    height: 0px;
                    display: none;
                }
                .menu__sub-item--active {
                    display: block;
                    height: fit-content;
                }
            }
        }

        .dashboard__wrapper {
            .dashboard__header {
                align-items: center;
                justify-content: space-between;
                .dashboard__item-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-grow: 1;
                    border-radius: 16px;
                    box-shadow: 0px 4px 4px 0px #00000040;
                    padding: 4rem;
                    .dashboard__item-number {
                        font-size: 6rem;
                        font-weight: 700;
                        line-height: 7.3rem;
                        letter-spacing: -0.03em;
                        text-align: center;
                        margin-right: 5rem;
                        .dashboard__item-name {
                            display: block;
                            font-size: 2rem;
                            font-weight: 400;
                            line-height: 2.4rem;
                            letter-spacing: -0.03em;
                        }
                    }
                    .dashboard__item-icon {
                        font-size: 4rem;
                        position: relative;
                        z-index: 1;
                    }
                    .dashboard__item-icon::before {
                        position: relative;
                        z-index: 1
                    }
                    .dashboard__item-icon::after {
                        content: "";
                        background-color: var(--white-color);
                        height: 74px;
                        width: 74px;
                        border-radius: 50%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 0;
                    }
                }
                .dashboard__item-wrapper:nth-child(1) {
                    background-color: #89EB9F;
                }
                .dashboard__item-wrapper:nth-child(2) {
                    background-color: #F4D78A;
                    margin: 0 5rem;
                }
                .dashboard__item-wrapper:nth-child(3) {
                    background-color: #FE9C9C;
                }
            }
            .dashboard__body {
                // margin-top: 3.4rem;
                .dashboard__chart-wrapper {
                    .dashboard__chart-header {
                        font-size: 1.6rem; 
                        font-weight: 700; 
                        margin-bottom: 1.6rem;
                    }
                    .select-date {
                        font-size: 1.6rem;
                        padding: 0.4rem;
                    }
                    .dashboard__chart {
                        height: fit-content;
                        margin-top: 2.6rem;
                        background-color: var(--white-color);
                        border: 1px solid #BFBFBF;
                        .dashboard__chart-header {
                            font-size: 1.6rem;
                            font-weight: 700;
                            line-height: 2rem;
                            letter-spacing: 0em;
                            text-shadow: 0px 4px 4px #00000040;
                            margin-top: 1.6rem;
                            text-transform: uppercase;
                            text-align: center;
                        }
                    }
                }
                .dashboard__total-wrapper {
                    .dashboard__total {
                        height: 120px;
                        margin-top: 2.6rem;
                        background-color: var(--white-color);
                        border: 1px solid #BFBFBF;
                        text-align: center;
                        .dashboard__total-header {
                            font-size: 1.6rem;
                            font-weight: 700;
                            line-height: 2rem;
                            letter-spacing: 0em;
                            text-shadow: 0px 4px 4px #00000040;
                            margin-top: 1.6rem;
                            text-transform: uppercase;
                        }
                        .dashboard__total-number {
                            font-size: 2.4rem;
                            font-weight: 700;
                            line-height: 3rem;
                            letter-spacing: -0.03em;
                        }
                    }
                }
            }
        }

        .manager-site__wrapper {
            .manager-site__header {
                .manager-site__search-wrapper {
                    display: flex;
                    align-items: center;
                    .manager-site__search-box {
                        background-color: var(--white-color);
                        padding-right: 1.2rem;    
                        border: 1px solid var(--border-color);   
                        margin-right: 1.6rem;        
                        border-radius: 4px;    
                        .manager-site__search-input {
                            font-size: 1.6rem;
                            border-radius: 4px;    
                            line-height: 2rem;
                            padding: 0.8rem 1.2rem;
                            outline: none;
                            border: none;
                        }
                        .manager-site__search-icon {
                            font-size: 1.8rem;    
                        }
                    }
                    .manager-site__add-btn {
                        background-color: var(--blue-color);
                        color: var(--white-color);
                        font-size: 1.6rem;
                        font-weight: 500;
                        padding: 0.8rem 0.4rem;
                        border-radius: 4px;
                        box-shadow: 0px 4px 4px 0px #00000040;
                    }
                    .manager-site__date-btn {
                        background-color: var(--white-color);
                        border: 1px solid var(--border-color);   
                        margin-right: 1.6rem;        
                        border-radius: 4px; 
                        font-size: 1.6rem;
                        border-radius: 4px;    
                        line-height: 2rem;
                        padding: 0.8rem 1.2rem;
                    }
                }
                .manager-site__category-wrapper {
                    margin-top: 2rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .manager-site__category {
                        .manager-site__category-btn {
                            font-size: 1.6rem;
                            line-height: 2rem;
                            letter-spacing: 0.12em;
                            text-align: center;
                            box-shadow: 0px 4px 4px 0px #00000040;
                            color: var(--text-color);
                            border-radius: 3px;
                            padding: 0.4rem 2.8rem;
                            margin-right: 1.2rem;
                            margin-bottom: 1.2rem;
                            background-color: var(--white-color);
                            text-shadow: 0px 4px 4px #00000040;
                        }
                        .manager-site__category-btn--active {
                            font-weight: 700;
                            background-color: var(--grey-color);
                            color: var(--black-color);
                        }
                    }
                    .manager-site__category-delete-btn {
                        box-shadow: 0px 4px 4px 0px #00000040;
                        border-radius: 3px;
                        padding: 0.4rem 0.8rem;
                        background-color: var(--red-color);
                        .manager-site__btn-icon {
                            font-size: 1.6rem;
                            line-height: 2rem;
                            text-align: center;
                        }
                    }
                }
            }
            .manager-site__body {
                margin-top: 3rem;
                max-height: 600px;
                overflow-x: auto;
                overflow-y: scroll;
                .manager-site__manager {
                    border-collapse: collapse;
                    width: 100%;
                    .manager-site__manager-row {
                        border-bottom: 2px solid #E0E0E0;
                        .manager-site__manager-header {
                            background-color: #E0E0E0;
                            text-align: center;
                            font-size: 1.6rem;
                            font-weight: 700;
                            line-height: 2rem;
                            padding: 0.8rem 0;
                            width: 200px;
                        }
                        .manager-site__manager-data {
                            font-size: 1.3rem;
                            font-weight: 400;
                            line-height: 1.6rem;
                            letter-spacing: 0.12rem;
                            text-align: center;
                            background-color: var(--white-color);
                            padding: 1.8rem 0;
                            .data__img {
                                width: 100px;
                                height: 100px;
                                border-radius: 5px;
                                box-shadow: 0px 4px 4px 0px #00000040;
                            }
                            .data__desc {
                                display: -webkit-box;
                                -webkit-line-clamp: 4;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                text-align: justify;
                                max-width: 150px;
                            }
                            .data__edit-btn {
                                color: var(--white-color);
                                font-size: 1.6rem;
                                font-weight: 500;
                                padding: 0.8rem 0.4rem;
                                border-radius: 4px;
                                box-shadow: 0px 4px 4px 0px #00000040;
                            }
                            .item-status {
                                border-radius: 3px;
                                padding: 0.4rem 1.2rem;
                                cursor: pointer;
                                border: none;
                                color: var(--white-color);
                                text-shadow: 0px 4px 4px #00000040;
                            }
                        }
                    }
                }
            }
            .manager-site__pagination {
                margin-top: 1.6rem;
                text-align: center;
                .pagination__btn {
                    background-color: #fff;
                    text-align: center;
                    font-size: 1.6rem;
                    padding: 1.2rem 1.6rem;
                    border: 1px solid var(--border-color);
                    width: 40px;
                    cursor: pointer;
                }
            }
        }
    }
}

.modal {
    display: none;
    .modal__body {
        .delete__modal {
            display: none;
            width: 500px;
            background-color: var(--white-color);
            border-radius: 6px;
            text-align: center;
            padding: 3rem 0;
            .delete__icon {
                font-size: 5.2rem;
                color: var(--red-color);
            }
            .delete__message {
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 1.8rem;
                text-align: justified;
                margin: 0 auto;
                margin-top: 1.3rem;
                color: var(--text-color);
                max-width: 365px;
            }
            .delete__btn-wrapper {
                margin-top: 2rem;
                .btn {
                    text-shadow: 0px 4px 4px #00000040;
                    font-size: 1.3rem;
                    font-weight: 600;
                    line-height: 1.6rem;
                    padding: 1rem 4rem;
                    box-shadow: 0px 4px 4px 0px #00000040;
                }
                .delete__btn {
                    background-color: var(--red-color);
                    color: var(--white-color);
                    margin-right: 1.6rem;
                }
                .cancel__btn {
                    border: 2px solid var(--red-color);
                    color: var(--red-color);
                    background-color: var(--white-color);
                }
            }
        }
        .add__modal {
            background-color: var(--white-color);
            padding: 2rem;
            border-radius: 6px;
            display: none;
            .add__modal-header {
                font-size: 2.7rem;
                font-weight: 500;
                line-height: 3.3rem;
                text-align: center;
            }
            .add__modal-wrapper {
                .add__input-group-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                .add__input-group {
                    margin-top: 2rem;
                    .add__input-label {
                        font-size: 1.5rem;
                        font-weight: 700;
                        line-height: 1.8rem;
                        display: block;
                        margin-bottom: 0.8rem;
                        .add__input-require {
                            color: var(--red-color);
                        }
                    }
                    .add__input-text {
                        font-size: 1.6rem;
                        border-radius: 4px;    
                        line-height: 2rem;
                        padding: 0.8rem 1.2rem;
                        outline: none;
                        border: 1px solid var(--border-color);
                        width: 100%;
                    }
                }
                .add__btn-wrapper {
                    text-align: center;
                    .add__btn {
                        background-color: var(--blue-color);
                        color: var(--white-color);
                        padding: 1.2rem 2.4rem;
                        outline: none;
                        border-radius: 6px;
                        border: none;
                        box-shadow: 0px 4px 4px 0px #00000040;
                        margin-top: 1.6rem;
                        font-size: 1.3rem;
                        font-weight: 600;
                        line-height: 1.6rem;
                        cursor: pointer;
                        margin-right: 2rem;
                    }
                    .cancel {
                        background-color: var(--red-color);
                    }
                }
            }
            .input-group--inactive {
                display: none;
            }
            .input-group--active {
                display: block;
            }
        }    
        .detail__modal {
            background-color: var(--white-color);
            padding: 2rem 4rem;
            border-radius: 6px;
            display: none;
            th, td {
                width: 100%;
            }
            .detail__header {
                font-size: 2.7rem;
                font-weight: 500;
                line-height: 3.3rem;
                text-align: center;
            }
            .detail__info-row {
                font-size: 1.6rem;
                line-height: 2.0rem;
                display: flex;
                justify-content: space-between;
                margin: 0.8rem 0;
                .detail__info-header {
                    font-weight: 700;
                    padding-right: 1.6rem;
                }
                .detail__info-data {
                    font-weight: 400;
                }
            }
            .detail__user-order {
                padding: 0.8rem 0;
                border-width: 1px;
                border-style: dashed;
                border-color: var(--border-color) transparent var(--border-color) transparent;
                .detail__info-row {
                    .detail__info-header {
                        font-weight: 400;
                        
                        .detail__info-sign {
                            margin-left: 1.2rem;
                        }
                    }
                }
            }
            .detail__user-bill {
                .detail__info-row {
                    .detail__info-header {
                        font-weight: 400;
                    }
                }
                .total {
                    border-top: 1px solid var(--black-color);
                    padding-top: 0.8rem;
                    .detail__info-header {
                        font-weight: 700;
                    }
                }
            }
            .detail__btn-wrapper {
                text-align: center;
                .detail__btn {
                    color: var(--white-color);
                    padding: 1.2rem 2.4rem;
                    outline: none;
                    border-radius: 6px;
                    border: none;
                    box-shadow: 0px 4px 4px 0px #00000040;
                    margin-top: 1.6rem;
                    font-size: 1.3rem;
                    font-weight: 600;
                    line-height: 1.6rem;
                    cursor: pointer;
                    margin-right: 2rem;
                    text-align: center;
                }
                .accept {
                    display: none;
                    background-color: var(--green-color);
                }
                .cancel {
                    display: none;
                    background-color: var(--red-color);
                }
                .print {
                    background-color: var(--blue-color);
                }
            }
        }
        .edit__modal {
            background-color: var(--white-color);
            padding: 2rem;
            border-radius: 6px;
            display: none;
            .edit__modal-wrapper {
                display: flex;
                .edit__modal-img {
                    width: 300px;
                    height: 300px;
                    object-fit: cover;
                    border-radius: 10px;
                    margin-right: 3.2rem;
                }
                .edit__input-group-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                .edit__input-group {
                    margin-top: 2rem;
                    margin-right: 2rem;
                    flex-grow: 1;
                    .edit__input-label {
                        font-size: 1.5rem;
                        font-weight: 700;
                        line-height: 1.8rem;
                        display: block;
                        margin-bottom: 0.8rem;
                        .edit__input-require {
                            color: var(--red-color);
                        }
                    }
                    .edit__input-text {
                        font-size: 1.6rem;
                        border-radius: 4px;    
                        line-height: 2rem;
                        padding: 0.8rem 1.2rem;
                        outline: none;
                        border: 1px solid var(--border-color);
                        width: 100%;
                    }
                }
                .edit__btn-wrapper {
                    text-align: center;
                    .edit__btn {
                        background-color: var(--blue-color);
                        color: var(--white-color);
                        padding: 1.2rem 2.4rem;
                        outline: none;
                        border-radius: 6px;
                        border: none;
                        box-shadow: 0px 4px 4px 0px #00000040;
                        margin-top: 1.6rem;
                        font-size: 1.3rem;
                        font-weight: 600;
                        line-height: 1.6rem;
                        cursor: pointer;
                        margin-right: 2rem;
                    }
                    .cancel {
                        background-color: var(--red-color);
                    }
                }
            }
            .input-group--inactive {
                display: none;
            }
            .input-group--active {
                display: block;
            }
        }
        .auth-form {
            min-width: 400px;
            background-color: var(--white-color);
            border-radius: 16px;
            overflow: hidden;
            .auth-form__container {
                padding: 4.5rem;
                .auth-form__header {
                    .auth-form__heading {
                        font-size: 4rem;
                        line-height: 4rem;
                        margin: 1.2rem 0;
                        font-weight: 400;
                        text-align: center;
                    }
                    .auth-form__sub-heading {
                        font-size: 2rem;
                        color: #757575EB;
                        max-width: 400px;
                        line-height: 2rem;
                    }
                    .auth-form__switch-wrap {
                        display: flex;
                        align-items: center;
                        font-size: 1.6rem;
                        margin-top: 3.2rem;
                        margin-bottom: 2.8rem;
                        .auth-form__switch-label {
                            color: #757575EB;
                            letter-spacing: 0.1rem;
                            margin-right: 1.6rem;
                        }
                        .auth-form__switch-btn {
                            color: var(--primary-color);
                            font-weight: 500;
                            cursor: pointer;
                        }
                    }
                }
                .auth-form__form {
                    .auth-form__group {
                        margin-top: 2.4rem;
                        .auth-form__input-text {
                            height: 40px;
                            width: 100%;
                            font-size: 1.4rem;
                            border: 1px solid var(--border-color);
                            outline: none;
                            padding-left: 1.2rem;
                            border-radius: 6px;
                        }
                        .auth-form__input-text:focus {
                            border-color: #888;
                        }
                    }
                    .auth-form__aside {
                        margin-top: 3.6rem;
                        margin-bottom: -2.0rem;
                        .auth-form__help {
                            display: flex;
                            justify-content: flex-start;
                            .auth-form__help-link {
                                font-size: 1.4rem;
                                color: #939393;
                                cursor: pointer;
                            }
                            .auth-form__help--forgot {
                                color: var(--primary-color);
                                font-weight: 500;
                                letter-spacing: 0.1rem;
                            }
                        }
                    }
                    .auth-form__controls {
                        margin-top: 4.0rem;
                        .auth-form__button {
                            font-size: 2rem;
                            letter-spacing: 0.2rem;
                            width: 100%;
                            padding: 0.8rem 0;
                            box-shadow: 0 0 10px #00000040;
                        }
                        .auth-form__switch-btn {
                            display: block;
                            font-size: 1.6rem;
                            color: var(--primary-color);
                            font-weight: 500;
                            text-align: center;
                            letter-spacing: 0.2rem;
                            cursor: pointer;
                        }
                    }
                }
            }    
        }
    }
}